<header class="nav-header">
  <a href="/">
    <div class="header-intro">
      <p>Shuvrojit Biswas</p>
      <p>Full Stack Web Developer</p>
    </div>
  </a>
  <div class="header-nav">
    <ul>
      <a href="/posts">
        <li>Posts</li>
      </a>
      {{ $caret := resources.Get "images/caret-down.svg" }}

      <div class="dropdown">
        <a class="dropbtn">Categories<img id="cat-drop" src="{{ $caret.RelPermalink }} "></a>
        <div id="myDropdown" class="dropdown-content">
          {{ range .Site.Taxonomies.categories }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
          {{ end }}

        </div>
      </div>
      <a href="/tags">
        <li>Tags</li>
      </a>
    </ul>
  </div>

</header>
