
<head>
  <meta charset="UTF-8">
  <meta name="description"
    content="Welcome to my personal website. My name is Shuvrojit Biswas and  I am Software Engineer with a passion for technology. On this site, I dump my thoughts and experiment with them.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Site.Title }}</title>
  {{ $css := resources.Get "css/styles.css" | minify | fingerprint }}
<link href="{{ $css.RelPermalink }}" rel="stylesheet">

  {{ $js := resources.Get "js/build/app.js" | js.Build  }}
<script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>

  {{- if .Site.Params.googleAnalytics -}}
Google tag (gtag.js)
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6T5CCL4346"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6T5CCL4346');
</script>
{{ end }}

</head>
