<header class="nav-header">
  <a href="/">
    <div class="header-intro">
      <p>Shuvrojit Biswas</p>
      <p>Full Stack Web Developer</p>
    </div>
  </a>
  <div class="header-nav">
    <ul>
      <a href="/posts">
        <li>Posts</li>
      </a>
      {{ $caret := resources.Get "images/caret-down.svg" }}

      <div class="dropdown">
        <a class="dropbtn">Categories<img id="cat-drop" src="{{ $caret.RelPermalink }} "></a>
        <div id="myDropdown" class="dropdown-content">
          {{ range .Site.Taxonomies.categories }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
          {{ end }}

        </div>
      </div>
      <a href="/tags">
        <li>Tags</li>
      </a>
    </ul>
  </div>

  <!-- {{ $search := resources.Get "images/search.svg" }} -->
  <!-- {{ $moon := resources.Get "images/moon.svg" }} -->
  <!-- {{ $menu := resources.Get "images/menu.svg" }} -->
  <!-- {{ $searchw := resources.Get "images/search-white.svg" }} -->
  <!-- {{ $moon := resources.Get "images/moon.svg" }} -->
  <!-- {{ $sun := resources.Get "images/sun-white.svg" }} -->
  <!-- {{ $menuw := resources.Get "images/menu-white.svg" }} -->



  <!-- <div class="navigation-icon"> -->
    <!-- <div id="nav-icon-black"> -->
    <!-- <img src="{{ $search.RelPermalink }}" alt="Search" /> -->
    <!-- <img id="moon" src="{{ $moon.RelPermalink }}" alt="moon" /> -->
    <!-- <img id="menu" src="{{ $menu.RelPermalink }}" alt="menu" /> -->
    <!-- </div> -->
    <!-- <div id="nav-icon-white"> -->
      <!-- <img src="{{ $searchw.RelPermalink }}" alt="Search" /> -->
      <!-- <img id="sun" src="{{ $sun.RelPermalink }}" alt="moon" /> -->
      <!-- <img id="menu" src="{{ $menuw.RelPermalink }}" alt="menu" /> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <input type="checkbox"> -->
<!-- <span class="menu"> <span class="hamburger"></span> </span> -->
<!-- <ul> -->
<!--   <li> <a href="#">Home</a> </li> -->
<!--   <li> <a href="#">About</a> </li> -->
<!--   <li> <a href="#">Contact</a> </li> -->
<!-- </ul> -->



</header>
